<div class="m-2" style="width: 40rem">
  <div>
    <h1 class="m-2 display-1">New task</h1>
    <div class="input-group">
      <div>
        <input type="date" class="form-control m-2" [(ngModel)]="current_Date">
      </div>
    </div>
    <div>
      <input type="text" class="form-control m-2" placeholder="title" style="width: 11rem" [(ngModel)]="title">
    </div>
    <div>
      <textarea class="form-control m-2" style="width: 39rem; height: 10rem" placeholder="description" [(ngModel)]="description"></textarea>
    </div>
    <div>
      <button class="btn btn-primary m-2" (click)="addTask()">+</button>
      <button class="btn btn-danger m-2" (click)="closeDialog()">x</button>
    </div>
  </div>
</div>
