<div class="card m-1">
  <h1 class="card-header">Account</h1>
  <div class="card-body">
    <div class="input-group">
      <div class="input-group-prepend m-1" >
        <span class="input-group-text d-flex justify-content-center" style="width: 7rem">First Name</span>
      </div>
      <div class="m-1">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="input-group">
      <div class="input-group-prepend m-1">
        <span class="input-group-text d-flex justify-content-center" style="width: 7rem">Last Name</span>
      </div>
      <div class="m-1">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="input-group">
      <div class="input-group-prepend m-1">
        <span class="input-group-text d-flex justify-content-center" style="width: 7rem">Email</span>
      </div>
      <div class="m-2">
        kongmenglor122@gmail.com
      </div>
    </div>
    <div class="input-group">
      <div class="input-group-prepend m-1">
        <span class="input-group-text d-flex justify-content-center" style="width: 7rem">Password</span>
      </div>
      <div class="m-1">
        <input type="text" class="form-control">
      </div>
    </div>




  </div>
</div>
